<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CharcoalFactory1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,265}</string>
                <key>spriteSourceSize</key>
                <string>{440,265}</string>
                <key>textureRect</key>
                <string>{{1039,366},{440,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CharcoalFactory2_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,284}</string>
                <key>spriteSourceSize</key>
                <string>{389,284}</string>
                <key>textureRect</key>
                <string>{{1619,1},{389,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ClothShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,334}</string>
                <key>spriteSourceSize</key>
                <string>{455,334}</string>
                <key>textureRect</key>
                <string>{{409,861},{455,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ClothShop_vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,193}</string>
                <key>spriteSourceSize</key>
                <string>{254,193}</string>
                <key>textureRect</key>
                <string>{{1061,1235},{254,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoffinShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,363}</string>
                <key>spriteSourceSize</key>
                <string>{547,363}</string>
                <key>textureRect</key>
                <string>{{544,1},{547,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoffinShopVIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,377}</string>
                <key>spriteSourceSize</key>
                <string>{547,377}</string>
                <key>textureRect</key>
                <string>{{1,387},{547,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CottonShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,325}</string>
                <key>spriteSourceSize</key>
                <string>{451,325}</string>
                <key>textureRect</key>
                <string>{{409,1318},{451,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CottonShop_vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,195}</string>
                <key>spriteSourceSize</key>
                <string>{228,195}</string>
                <key>textureRect</key>
                <string>{{1317,1354},{228,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Furniture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,303}</string>
                <key>spriteSourceSize</key>
                <string>{433,303}</string>
                <key>textureRect</key>
                <string>{{745,823},{433,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Furniture_vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,180}</string>
                <key>spriteSourceSize</key>
                <string>{223,180}</string>
                <key>textureRect</key>
                <string>{{1297,1551},{223,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GarmentShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,299}</string>
                <key>spriteSourceSize</key>
                <string>{421,299}</string>
                <key>textureRect</key>
                <string>{{1306,313},{421,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GarmentShop_vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,159}</string>
                <key>spriteSourceSize</key>
                <string>{209,159}</string>
                <key>textureRect</key>
                <string>{{1522,1551},{209,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HerbalShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,291}</string>
                <key>spriteSourceSize</key>
                <string>{388,291}</string>
                <key>textureRect</key>
                <string>{{1619,287},{388,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HerbalShopVIP_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,222}</string>
                <key>spriteSourceSize</key>
                <string>{291,222}</string>
                <key>textureRect</key>
                <string>{{1073,1430},{291,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Painting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,353}</string>
                <key>spriteSourceSize</key>
                <string>{455,353}</string>
                <key>textureRect</key>
                <string>{{684,366},{455,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Painting_vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,253}</string>
                <key>spriteSourceSize</key>
                <string>{359,253}</string>
                <key>textureRect</key>
                <string>{{1642,1230},{359,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,320}</string>
                <key>spriteSourceSize</key>
                <string>{402,320}</string>
                <key>textureRect</key>
                <string>{{1,1446},{402,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PierBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,304}</string>
                <key>spriteSourceSize</key>
                <string>{406,304}</string>
                <key>textureRect</key>
                <string>{{1344,736},{406,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PorcelainShop.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,292}</string>
                <key>spriteSourceSize</key>
                <string>{425,292}</string>
                <key>textureRect</key>
                <string>{{1050,808},{425,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PorcelainShopVIP_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,252}</string>
                <key>spriteSourceSize</key>
                <string>{331,252}</string>
                <key>textureRect</key>
                <string>{{1650,976},{331,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Station.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,406}</string>
                <key>spriteSourceSize</key>
                <string>{508,406}</string>
                <key>textureRect</key>
                <string>{{1,936},{508,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>StationBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,302}</string>
                <key>spriteSourceSize</key>
                <string>{472,302}</string>
                <key>textureRect</key>
                <string>{{380,387},{472,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tax.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,384}</string>
                <key>spriteSourceSize</key>
                <string>{541,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{541,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileShop1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{394,301}</string>
                <key>spriteSourceSize</key>
                <string>{396,301}</string>
                <key>textureRect</key>
                <string>{{1650,580},{394,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileShop2_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,208}</string>
                <key>spriteSourceSize</key>
                <string>{296,208}</string>
                <key>textureRect</key>
                <string>{{1344,1144},{296,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TungShop.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{524,310}</string>
                <key>spriteSourceSize</key>
                <string>{528,310}</string>
                <key>textureRect</key>
                <string>{{1093,1},{524,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warehouse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,215}</string>
                <key>spriteSourceSize</key>
                <string>{314,215}</string>
                <key>textureRect</key>
                <string>{{745,1258},{314,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warehouse2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,230}</string>
                <key>spriteSourceSize</key>
                <string>{335,230}</string>
                <key>textureRect</key>
                <string>{{736,1475},{335,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Well.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,108}</string>
                <key>spriteSourceSize</key>
                <string>{194,108}</string>
                <key>textureRect</key>
                <string>{{1683,1485},{194,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Well_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,106}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{1683,1595},{189,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>building-rect-2.png</string>
            <key>size</key>
            <string>{2009,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bbb590846e6e8422d75118f973f748f:5030cfbaba98d662ce0b4c9e261dc6b3:52a6c6e82bc33707c8297aef14804691$</string>
            <key>textureFileName</key>
            <string>building-rect-2.png</string>
        </dict>
    </dict>
</plist>
